.download {
    position: relative;
    color: white;
    font-family: Lato,sans-serif;
    top: 200px;
    left: 10%;
    border: 1px solid white;
    box-shadow: 1px 1px 1px white;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    width: 116px;
    
}
a {
    color: white;
    text-decoration: none;
}
.download:hover {
    cursor: pointer;
    opacity: 1;
}
.resumeBody {
    top: 50px;
    left: 40%;
    position: relative;
    height: 900px;
    width: 800px;
};